<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/iconfinder_General_Office.png">
            </div>
            <div class="col-10">
                <h1 class="display-1">TEST YO SELF</h1>
                <p class="lead">Get ready to feel the learn. Start by clicking the button below to create an account.</p>
                <a href="/users/signup"><button type="button" class="btn btn-secondary btn-lg">Get Started</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="max-width: 80%">

    <!-- ************************************** -->
    <!-- ============ LANDING PAGE ============ -->
    <!-- ************************************** -->

    <div class="row">
        <div class="col-4">
            <div class="text-center mb-3">
                <img src="https://cdn1.iconfinder.com/data/icons/office-222/91/General_Office_07-256.png" width="20%"
                    height="20%">
            </div>
            Have you ever felt the pressures of studying but was always "forever alone"? Test Yo Self allows you to alleviate the pressure of study-time by providing a platform to study with others and help you be the best student you can be.
        </div>
        <div class="col-4">
            <div class="text-center mb-3">
                <img src="https://cdn1.iconfinder.com/data/icons/office-222/91/General_Office_32-256.png" width="20%"
                    height="20%">
            </div>
            Connect with other eager learners to form study groups and level up your knowledge together. Join in on the discussions by using our chat rooms and review your answers together to find out which exactly did come first, the chicken or the egg?
        </div>
        <div class="col-4">
            <div class="text-center mb-3">
                <img src="https://cdn1.iconfinder.com/data/icons/office-222/91/General_Office_19-512.png" width="20%"
                    height="20%">
            </div>
            Once you have a few study sessions under your belt, compare notes with your friends and study groups to see how your score matched up with theirs. It's not a competition but it can be if it helps?
        </div>

    </div>

    <div class="row mt-5 mb-5">
        <div class="col">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"You can't tell whether you're learning something when you're learning it -- in fact, <br><b><u>learning feels a lot more like frustration</u></b>."</p>
                <footer class="blockquote-footer">Jeff Dickey <cite title="Source Title">Class Power Point</cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            "What I've learned is that during this period of frustration is actually when people improve the most, and their improvements are usually obvious to an outsider. If you feel frustrated while trying to understand new concepts, try to remember that it might not feel like it, but you're probably rapidly expanding your knowledge."
        </div>
    </div>
</div>